*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --cor_de_fonte: red;
    --cor_background_padrao: yellow;
}

p{
    width: 80%;
    height: auto;
    margin: 3px auto 20px auto;
}
nav#menu{
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: yellowgreen;
    margin: 0;
}
nav#menu > .item_menu{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
nav#menu > .item_menu:hover{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
}
#receitas{
    background-color: var(--cor_background_padrao);
    width: 100%;
    height: 600px;
}
